# Environment Variables
*.env
.env
app/.env
frontend/.env

# Credentials
creds
creds.txt

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
venv/
.venv/

# Node/Frontend
node_modules/
dist/
.vite/

# OS
.DS_Store